<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--CDN CHARTJS-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!-- JQUERY-->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Procesamiento</title>
  </head>
  <body>
    <div>
      <h1 class="text-center mt-5">Gráficos en tiempo real</h1>
      <h4 class="text-center text-secondary">Tiempo actualizacion: 10s</h4>
      <canvas id="myChart" class="mt-5" height="100px"></canvas>
    </div>

    <script>
    const MAX_DATE = 1000
    const MAX_DATA_REMOVE = 1000
    var date_count = 0

    function addData(chart, label, dataVader,textblob,mymodel) {
      chart.data.labels.push(label)
      chart.data.datasets[0].data.push(dataVader)
      chart.data.datasets[1].data.push(textblob)
      chart.data.datasets[2].data.push(mymodel)
      chart.update();
    }

    function removeData(chart){  
      chart.data.labels.splice(0,MAX_DATA_REMOVE);
      chart.data.datasets[0].data.splice(0,MAX_DATA_REMOVE)
      chart.data.datasets[1].data.splice(0,MAX_DATA_REMOVE)
      chart.data.datasets[2].data.splice(0,MAX_DATA_REMOVE)
      chart.update();
    }
    
    </script>

    <script>

      const data = {
        labels: [''],
        datasets: [
          {
          label: 'VaderSentiment',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: [0],
        },{
          label: 'TextBlob',
          backgroundColor: 'rgb(25, 99, 132)',
          borderColor: 'rgb(205, 99, 132)',
          data: [0],
        },{
          label: 'ML_propio',
          backgroundColor: 'rgb(125, 99, 132)',
          borderColor: 'rgb(205, 89, 203)',
          data: [0],
        }
      
      ],
      };

      const config = {
        type: 'line',
        data: data,
        options: {}
      };
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );

      setInterval(function(){
            $.getJSON(                            //Get some values from the server
                'http://localhost:5000/puerta-enlace/getdatos',      // At this URL
                {},                                // With no extra parameters
                function(data){
                  var i = 0
                  //console.log(data)
                  
                  if(date_count >= MAX_DATE){
                    removeData(myChart)
                    date_count = date_count - MAX_DATA_REMOVE
                  }
                  date_count = date_count + (data.labels.length*3)
                  for(i = 0;i<data.labels.length;i++){
                    addData(myChart,data.labels[i],data.data.vader[i],data.data.textblob[i],data.data.mymodel[i])
                  }
                  console.log(myChart.data.datasets[1].data)
                  console.log("datos mostrando:",date_count)
                }
            );
          },10000); 
    </script>
    
  </body>
</html>
